@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet');

:root{
  --header-height: 5rem;

  --hue-color: 213;

  --first-color: #272B2C;
  --first-color-second: #25292A;
  --firs-color-third:#909090;
  --second-color: #FCAE17;
  --second-color-second: #F9F6EA;
  --container-color: #F0F4F5;
  --clr-white-light: #ffff;
  --body-font: 'Open Sans', sans-serif;

  --big-font-size: 4rem;
  --h1-font-size: 2.5rem;
  --h2-font-size: 1.7rem;
  --h3-font-size: 1.1rem;
  --h4-font-size: 1.3rem;
  --normal-font-size: 1rem;
  --small-font-size: .85rem;
  --smaller-font-size: .8rem;


  /*========== Font weight ==========*/
  --font-reguler: 300;
  --font-medium: 600;
  --font-semi-bold: 700;
  --font-bold: 800;

  /*========== Margenes Bottom ==========*/
  /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
  --mb-0-25: .25rem;
  --mb-0-5: .5rem;
  --mb-0-75: .75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  background-color: var(--clr-white-light);
  font-family: var(--body-font);
  scroll-behavior: smooth;
}
ul{
  list-style: none;
}

a{
  text-decoration: none;
}

header{
  top: 0;
  height: var(--header-height);
  background-color: var(--container-color);
}

.nav__container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  padding: 24px 120px 24px 120px;
}
.nav__logo {
  font-size: var(--h2-font-size);
  color: var(--first-color);
  font-weight: var(--font-semi-bold);
}

.nav__container .nav__button a button{
  color: var(--first-color);
  padding: 12px 16px;  
  border-radius: 8px;
  border-width: 1.5px;
  border-color: var(--first-color-second);
  cursor: pointer;
  background-color: var(--second-color-second);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.nav__container .nav__button a button img{
 width: 1.2rem;
 padding-right: 4px;
}

.home__section{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  padding: 60px 120px 60px 120px;
}
.home__container{
  display: grid;
  width: 100%;
}

.home__content{
  color: var(--first-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.home__content h1{
  font-size: var(--h1-font-size);
  width: 100%;
}

.home__content h1 b{
  color: #3B9AA0;
  background-color: var(--second-color-second);
  padding: 2px 4px 2px 4px;
  border-radius: 8px;
  font-size: var(--h1-font-size);
  width: 100%;
  font-weight: var(--font-semibold);
}

.home__biography{
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  gap: 48px;
}



.home__biography .p14{
  color: var(--first-color-second);
  font-size: var(--h3-font-size);
  font-weight: var(--font-semi-bold);
  margin-top: 10px;
  margin-bottom: 5px;
}
.home__biography p{
  font-size: var(--normal-font-size);
  font-weight: 200;
  color: var(--firs-color-third);
}

.home__item{
  flex-basis: 70%;
  display: flex;
  flex-direction: row;
  gap: 8px;
}
.home__img img{
  width: 200px;
}
.home__p14 a {
  color: #3B9AA0;
  font-weight: var(--font-semi-bold);
  text-decoration: underline;
}
.home__icon{
  background-color: var(--container-color);
  border-radius: 11px;
  padding: 8px 16px 16px 16px;
  height: fit-content;
}

.contact__me img{
  margin-top: 20px;
  margin-left: 40px;
  width: 150px;
}

.icon__item{
  margin-top: 8px;
  padding-right: 4px;
  color: var(--firs-color-third);
  font-size: var(--h2-font-size);

}

#skills{

}
.skills__section{
  padding: 60px 120px 60px 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.skills__section img {
  width: 120px;
}
.skills__h2{
  color: var(--first-color-second);
  font-size:var(--h2-font-size);
  text-align: center;
}
.skills__container{
  width: 100%;
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 50px;
}
.skills__item{
  overflow: hidden;
  text-align: left;
  color: var(--first-color);
  border-radius: 0.4rem;
  position: relative;
}
.skills__h3{
  font-weight: var(--font-medium);
  font-size: var(--h3-font-size);
  color: var(--first-color-second);
}
.item__header{
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 10px;
}
.skills__h4{
  font-weight: var(--font-reguler);
  font-size: var(--small-font-size);
  color: var(--first-color-second);
}

span{
  font-weight: 100;
  font-size: var(--smaller-font-size);
}
.skills__list{
  
}
.skills__title{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.skills__data{
  padding: 10px;
}
.skills__arrow{
  font-size: 2rem;
  transition: .4s;
}

.skills__bar,
.skills__percentage{
  margin-top: 6px;
  height: 5px;
  border-radius: .1rem;
}

.skills__bar{
  background-color: #D9EEEF;
  border-radius: 90px;
}

.skills__percentage{
  display: block;
  background-color: #3B9AA0;
  border-radius: 90px;
}
.skills__html{
  width: 60%;
}
.skills__figma{
  width: 90%;
}
.skills__css{
  width: 50%;
}
.skills__js{
  width: 30%;
}
.skills__ai{
  width: 70%;
}
.skills__xd{
  width: 40%;
}
.skills__ps{
  width: 20%;
}
.porto__section {
  padding: 60px 120px 60px 120px;
}

.porto__title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
}

.porto__title img {
 width: 120px;
}
.deskripsi {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}
.deskripsi__1 {
  color: var(--first-color-second);
  font-size: var(--h2-font-size);
  font-weight: var(--font-semi-bold);
}

.deskripsi__2 {
  color: var(--firs-color-third);
  font-size: var(--normal-font-size);
  font-weight: var(--font-reguler);
}

.porto__container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.porto__card {
  display: flex;
  flex-direction: row;
  gap: 50px;
  margin-top: 64px;

}

.porto__item {

}
.porto__item img {
  width: 460px;
  border-radius: 11px;
}
.button__porto {
  display: flex;
  flex-direction: row;
  gap: 12px;
}
.button__porto p{
  margin-top: 12px;
  padding: 5px;
  border-radius: 3px;
  background-color: var(--second-color-second);
  font-size: var(--smaller-font-size);
  font-weight: var(--font-semi-bold);
  color: #3B9AA0;
  width: fit-content;
}

.p18 {
  color: var(--first-color-second);
  font-size: var(--h4-font-size);
  font-weight: var(--font-medium);
  margin-top: 12px;
  margin-bottom: 12px;
  line-height: 32px;
}



.p19 {
  color: var(--first-color-second);
  font-size: var(--normal-font-size-font-size);
  font-weight: var(--font-reguler);
}
footer {
  background-color: #F9F6EA;
  padding: 60px 120px 30px 120px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.footer__section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer__container {
  display: flex;
  flex-direction: row;
  gap: 50px;
  margin-bottom: 20px;
}

.footer__item {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.p1 {
  font-size: var(--normall-font-size);
  color: #3B9AA0;
  text-decoration: underline;
}
.p2 {
  font-size: var(--small-font-size);
  color: #909090;
}
hr {
  opacity: 20%;
}

/* Font size for large devices */
@media screen and (max-width: 827px) {
  :root {
    --big-font-size: 3rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.3rem;
    --h3-font-size: 1.1rem;
    --normal-font-size: 0.8rem;
    --small-font-size: 0.7rem;
  }
  section{
    width: 100%;
  }
  .nav__container{
    padding: 24px 60px 24px 60px;
    display: flex;
    align-items: center;
  }
  .home__section {
    margin-top: 0px;
    width: 100%;
    padding: 32px 60px 32px 60px;
  }
  .home__content h1{
    line-height: 38px;
  }
  .home__container{

  }
  .home__biography{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .home__item {
    display: flex;
    flex-direction: column;
    gap: 0px;
  }
  .home__img img{
    width: 250px;
  }
  .contact__me{
    display: flex;
    flex-direction: row;
  }
  .contact__me img{
   display: none;
  }
  .home__icon {
    width: fit-content;
  }
  .skills__item{
    z-index: 2;
  }
.skills__section{
  z-index: 1;
  padding: 32px 60px 32px 60px;
  width: 100%;
}

  .skills__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 50px;
    width: 100%;
  }

  .skills__item {
    width: 100%;
  }

  .porto__section {
    padding: 32px 60px 32px 60px;
  }

  .porto__container {
    display: flex;
    flex-direction: column;
    gap: 0px;
  }

  .porto__title img {
    width: 80px;
  }

  .porto__card {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .porto__item img {
    width: 100%;
  }

  .p18 {
    font-size: var(--h3-font-size);
    line-height: 24px;
  }
  .p19 {
    font-size: var(--normall-font-size);
  }
}
